{:aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.datomic/datomic-free {:mvn/version "0.9.5697"}
                lambdaisland/kaocha {:mvn/version "0.0-590"}}
   :main-opts ["-m" "kaocha.runner" "--reporter" "kaocha.report/documentation"]}}}
